.LOGIN{
    height: 100%;
  }
  .LOGINtitle{
    font-family: 'DM Serif Display', serif;
    margin-top: 20px;
  }
  .Remembercheck {
    display: flex;
  }
  .SIGNUPtitle{
    font-family: 'DM Serif Display', serif;
    margin-top: 20px;
    margin-bottom: 20px;
  }